/* Style the headings */
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

div > div > span {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

div > div > div {
  margin-top: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.card__wrapper {
  padding: 0.7rem;
}

.card__wrapper li {
  margin-bottom: 0.7rem;
}

.heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details__wrapper {
  background-color: #f4f7f9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: monospace;
  border-radius: 0.5rem;
  overflow-x: scroll;
}
